In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import scipy.stats as stat

In [2]:
companies = pd.read_csv("sp500_companies.csv")
stocks = pd.read_csv("sp500_stocks.csv")

In [3]:
print(companies.dtypes)

Exchange                object
Symbol                  object
Shortname               object
Longname                object
Sector                  object
Industry                object
Currentprice           float64
Marketcap                int64
Ebitda                 float64
Revenuegrowth          float64
City                    object
State                   object
Country                 object
Fulltimeemployees      float64
Longbusinesssummary     object
Weight                 float64
dtype: object

In [4]:
print(stocks.dtypes)

Date          object
Symbol        object
Adj Close    float64
Close        float64
High         float64
Low          float64
Open         float64
Volume       float64
dtype: object

In [19]:
compwh.isnull().values.any()

True

In [20]:
stockswh.isnull().values.any()

True

In [5]:
companies.columns

Index(['Exchange', 'Symbol', 'Shortname', 'Longname', 'Sector', 'Industry',
       'Currentprice', 'Marketcap', 'Ebitda', 'Revenuegrowth', 'City', 'State',
       'Country', 'Fulltimeemployees', 'Longbusinesssummary', 'Weight'],
      dtype='object')

In [6]:
compwh= pd.read_csv("sp500_companies.csv", header= None, engine='python' )

#Removing first row because it is a header row
compwh = compwh.iloc[1: , :]

headers=["Exchange", "Symbol", "Shortname", "Longname", "Sector", "Industry",
       "Currentprice", "Marketcap", "Ebitda", "Revenuegrowth", "City", "State",
      "Country", "Fulltimeemployees", "Longbusinesssummary", "Weight"]

#assign list of header as data frame column names
compwh.columns=headers

In [7]:
compwh.head()

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
1,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,161.62,2639965454336,120233000960,0.288,Cupertino,CA,United States,154000,"Apple Inc. designs, manufactures, and markets ...",0.06449175190972013
2,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software—Infrastructure,296.37,2225139875840,85745000448,0.22,Redmond,WA,United States,181000,"Microsoft Corporation develops, licenses, and ...",0.054357972223235934
3,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,2616.08,1734803849216,85196996608,0.41,Mountain View,CA,United States,150028,Larry Page and Sergey Brin founded Google in S...,0.04237954677471559
4,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,2607.44,1732523982848,85196996608,0.41,Mountain View,CA,United States,150028,Larry Page and Sergey Brin founded Google in S...,0.04232385188827271
5,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,2890.88,1466103889920,60403998720,0.153,Seattle,WA,United States,1468000,"Amazon.com, Inc. engages in the retail sale of...",0.035815471822671155

In [8]:
print(compwh.describe())

       Exchange Symbol           Shortname         Longname      Sector  \
count       502    502                 502              502         501
unique        4    502                 498              497          11
top         NYQ   AAPL  Under Armour, Inc.  Discovery, Inc.  Technology
freq        352      1                   2                2          73

                            Industry Currentprice      Marketcap      Ebitda  \
count                            501          501            502         470
unique                           114          497            502         463
top     Utilities—Regulated Electric       109.88  2639965454336  3552999936
freq                              20            2              1           2

       Revenuegrowth      City State        Country Fulltimeemployees  \
count            500       501   481            501               497
unique           324       235    38              7               392
top              0.1  New York    CA  United States             50000
freq               6        43    70            481                 6

                                      Longbusinesssummary               Weight
count                                                 501                  502
unique                                                496                  502
top     Discovery, Inc., a media company, provides con...  0.06449175190972013
freq                                                    2                    1

In [9]:
print(compwh.describe(include="all"))

       Exchange Symbol           Shortname         Longname      Sector  \
count       502    502                 502              502         501
unique        4    502                 498              497          11
top         NYQ   AAPL  Under Armour, Inc.  Discovery, Inc.  Technology
freq        352      1                   2                2          73

                            Industry Currentprice      Marketcap      Ebitda  \
count                            501          501            502         470
unique                           114          497            502         463
top     Utilities—Regulated Electric       109.88  2639965454336  3552999936
freq                              20            2              1           2

       Revenuegrowth      City State        Country Fulltimeemployees  \
count            500       501   481            501               497
unique           324       235    38              7               392
top              0.1  New York    CA  United States             50000
freq               6        43    70            481                 6

                                      Longbusinesssummary               Weight
count                                                 501                  502
unique                                                496                  502
top     Discovery, Inc., a media company, provides con...  0.06449175190972013
freq                                                    2                    1

In [10]:
compwh.shape

(502, 16)

In [11]:
print(compwh.info)
print(compwh)

<bound method DataFrame.info of     Exchange Symbol                   Shortname                    Longname  \
1        NMS   AAPL                  Apple Inc.                  Apple Inc.
2        NMS   MSFT       Microsoft Corporation       Microsoft Corporation
3        NMS  GOOGL               Alphabet Inc.               Alphabet Inc.
4        NMS   GOOG               Alphabet Inc.               Alphabet Inc.
5        NMS   AMZN            Amazon.com, Inc.            Amazon.com, Inc.
..       ...    ...                         ...                         ...
498      NMS   PENN  Penn National Gaming, Inc.  Penn National Gaming, Inc.
499      NYQ   NLSN                Nielsen N.V.        Nielsen Holdings plc
500      NYQ    PVH                   PVH Corp.                   PVH Corp.
501      NYQ    ALK      Alaska Air Group, Inc.      Alaska Air Group, Inc.
502      NYQ    GPS             Gap, Inc. (The)               The Gap, Inc.

                     Sector                        Industry Currentprice  \
1                Technology            Consumer Electronics       161.62
2                Technology         Software—Infrastructure       296.37
3    Communication Services  Internet Content & Information      2616.08
4    Communication Services  Internet Content & Information      2607.44
5         Consumer Cyclical                 Internet Retail      2890.88
..                      ...                             ...          ...
498       Consumer Cyclical               Resorts & Casinos         42.4
499             Industrials             Consulting Services        19.14
500       Consumer Cyclical           Apparel Manufacturing        96.55
501             Industrials                        Airlines         51.4
502       Consumer Cyclical                  Apparel Retail        17.12

         Marketcap        Ebitda Revenuegrowth           City State  \
1    2639965454336  120233000960         0.288      Cupertino    CA
2    2225139875840   85745000448          0.22        Redmond    WA
3    1734803849216   85196996608          0.41  Mountain View    CA
4    1732523982848   85196996608          0.41  Mountain View    CA
5    1466103889920   60403998720         0.153        Seattle    WA
..             ...           ...           ...            ...   ...
498     7187394048    1317699968         0.338     Wyomissing    PA
499     6869862912    1034000000         0.055       New York    NY
500     6756337664    1096199936         0.101       New York    NY
501     6440985600    -375000000         1.786        Seattle    WA
502     6392659968    1331000064        -0.013  San Francisco    CA

           Country Fulltimeemployees  \
1    United States            154000
2    United States            181000
3    United States            150028
4    United States            150028
5    United States           1468000
..             ...               ...
498  United States             18321
499  United States             43000
500  United States             20000
501  United States             18819
502  United States            117000

                                   Longbusinesssummary                  Weight
1    Apple Inc. designs, manufactures, and markets ...     0.06449175190972013
2    Microsoft Corporation develops, licenses, and ...    0.054357972223235934
3    Larry Page and Sergey Brin founded Google in S...     0.04237954677471559
4    Larry Page and Sergey Brin founded Google in S...     0.04232385188827271
5    Amazon.com, Inc. engages in the retail sale of...    0.035815471822671155
..                                                 ...                     ...
498  Penn National Gaming, Inc., together with its ...  0.00017558094673538098
499  Nielsen Holdings plc, together with its subsid...   0.0001678239743049693
500  PVH Corp. operates as an apparel company world...  0.00016505066448097884
501  Alaska Air Group, Inc., through its subsidiari...  0.00015734692463002635
502  The Gap, Inc. operates as an apparel retail co...  0.00015616637711009362

[502 rows x 16 columns]>
    Exchange Symbol                   Shortname                    Longname  \
1        NMS   AAPL                  Apple Inc.                  Apple Inc.
2        NMS   MSFT       Microsoft Corporation       Microsoft Corporation
3        NMS  GOOGL               Alphabet Inc.               Alphabet Inc.
4        NMS   GOOG               Alphabet Inc.               Alphabet Inc.
5        NMS   AMZN            Amazon.com, Inc.            Amazon.com, Inc.
..       ...    ...                         ...                         ...
498      NMS   PENN  Penn National Gaming, Inc.  Penn National Gaming, Inc.
499      NYQ   NLSN                Nielsen N.V.        Nielsen Holdings plc
500      NYQ    PVH                   PVH Corp.                   PVH Corp.
501      NYQ    ALK      Alaska Air Group, Inc.      Alaska Air Group, Inc.
502      NYQ    GPS             Gap, Inc. (The)               The Gap, Inc.

                     Sector                        Industry Currentprice  \
1                Technology            Consumer Electronics       161.62
2                Technology         Software—Infrastructure       296.37
3    Communication Services  Internet Content & Information      2616.08
4    Communication Services  Internet Content & Information      2607.44
5         Consumer Cyclical                 Internet Retail      2890.88
..                      ...                             ...          ...
498       Consumer Cyclical               Resorts & Casinos         42.4
499             Industrials             Consulting Services        19.14
500       Consumer Cyclical           Apparel Manufacturing        96.55
501             Industrials                        Airlines         51.4
502       Consumer Cyclical                  Apparel Retail        17.12

         Marketcap        Ebitda Revenuegrowth           City State  \
1    2639965454336  120233000960         0.288      Cupertino    CA
2    2225139875840   85745000448          0.22        Redmond    WA
3    1734803849216   85196996608          0.41  Mountain View    CA
4    1732523982848   85196996608          0.41  Mountain View    CA
5    1466103889920   60403998720         0.153        Seattle    WA
..             ...           ...           ...            ...   ...
498     7187394048    1317699968         0.338     Wyomissing    PA
499     6869862912    1034000000         0.055       New York    NY
500     6756337664    1096199936         0.101       New York    NY
501     6440985600    -375000000         1.786        Seattle    WA
502     6392659968    1331000064        -0.013  San Francisco    CA

           Country Fulltimeemployees  \
1    United States            154000
2    United States            181000
3    United States            150028
4    United States            150028
5    United States           1468000
..             ...               ...
498  United States             18321
499  United States             43000
500  United States             20000
501  United States             18819
502  United States            117000

                                   Longbusinesssummary                  Weight
1    Apple Inc. designs, manufactures, and markets ...     0.06449175190972013
2    Microsoft Corporation develops, licenses, and ...    0.054357972223235934
3    Larry Page and Sergey Brin founded Google in S...     0.04237954677471559
4    Larry Page and Sergey Brin founded Google in S...     0.04232385188827271
5    Amazon.com, Inc. engages in the retail sale of...    0.035815471822671155
..                                                 ...                     ...
498  Penn National Gaming, Inc., together with its ...  0.00017558094673538098
499  Nielsen Holdings plc, together with its subsid...   0.0001678239743049693
500  PVH Corp. operates as an apparel company world...  0.00016505066448097884
501  Alaska Air Group, Inc., through its subsidiari...  0.00015734692463002635
502  The Gap, Inc. operates as an apparel retail co...  0.00015616637711009362

[502 rows x 16 columns]

In [12]:
compwh.describe()

indst_count = compwh["Industry"].value_counts()
indst_count.rename(colunms = {'Industry':'value_counts'}, inplace=True)
indst_count.index.name='industry'
print(indst_count)

TypeError: rename() got an unexpected keyword argument 'colunms'

In [13]:
stocks.columns

Index(['Date', 'Symbol', 'Adj Close', 'Close', 'High', 'Low', 'Open',
       'Volume'],
      dtype='object')

In [14]:
stockswh = pd.read_csv("sp500_stocks.csv", header= None, engine='python' )

#Removing first row because it is a header row
stockswh = stockswh.iloc[1: , :]

#add headers in list
headers = ['Date', 'Symbol', 'Adj Close', 'Close', 'High', 'Low', 'Open',
       'Volume']

#assign list of header as data frame column names
stockswh.columns=headers

In [15]:
stockswh.tail()

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
1536711,2022-01-18,ZTS,202.375,202.6999969482422,204.2899932861328,200.3300018310547,201.8000030517578,2433800.0
1536712,2022-01-19,ZTS,200.5800018310547,200.5800018310547,205.89999389648438,200.05999755859375,202.83999633789062,2159600.0
1536713,2022-01-20,ZTS,201.9600067138672,201.9600067138672,206.25,200.97000122070312,201.0,2844200.0
1536714,2022-01-21,ZTS,200.3300018310547,200.3300018310547,203.7100067138672,200.27999877929688,203.11000061035156,2632700.0
1536715,2022-01-24,ZTS,200.07000732421875,200.07000732421875,200.13999938964844,191.52000427246094,198.0500030517578,4093425.0

In [16]:
print(stockswh.describe())

              Date   Symbol          Adj Close    Close     High      Low  \
count      1536715  1536715            1467389  1467389  1467389  1467389
unique        3043      505            1155167   177572   177584   176898
top     2009-12-31      MMM  8.021685600280762     38.0     35.0     36.0
freq           505     3043                 77      236      327      276

           Open   Volume
count   1467389  1467389
unique   174908   307196
top        35.0      0.0
freq        393     1442

In [17]:
#*************************************************************************
#******************* Exploratory data analysis ***************************
#*************************************************************************
#Descrptive statistics
#describe for numeric values
stockswh.describe()
#values_counts for categorical attributes
symbol_count=stockswh["Symbol"].value_counts()
symbol_count.rename(colunms={'Symbol':'value_counts'}, inplace=True)
symbol_count.index.name='Symbol'
print(symbol_count)

TypeError: rename() got an unexpected keyword argument 'colunms'

In [ ]:
#boxplots
#sb.boxplot(x="drive-wheels",y="price",data=dfwh)
#scatterplto
sb.regplot(x="Open", y="Volume", data=stockswh)